extends layouts/loginLayout.pug 

block content 
    .login 
        h1 Create a new Account 
        form(action="", method="post")

            p.errorMessage #{errorMessage}
            input(type="text", name="firstName", placeholder="First Name", value=firstName  required="")

            input(type="text", name="lastName", placeholder="Last Name", value=lastName  required="")

            input(type="text", name="userName", placeholder="User Name", value=userName, required="")

            input(type="text", name="email", placeholder="example@email.com", value=email, required="")

            input(type="password", name="password", placeholder="*****", required="")

            input(type="submit", value="Register")
        a(href="/login") Login here